body {
    padding: 30px;
    background-color: cadetblue;
    display: flex; /* this is the flexbox model. It adds responsive design to its items */
    flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
    align-items: center; /* These next two properties center the flex items */
    justify-content: center;
}

h1 {
    color: #FFDE7A;
}

#product-name {
    text-align: center;
    color: #333;
}

.sub-font {
    text-align: center;
    color: black;
}
#welcome-page {
    color: #333;
    font-family: 'Patua One', monospace;
    text-align: center;
    font-size: 4rem
}

.main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    padding-top: 10px;
}

.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
    text-decoration: none;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main-nav li { float: left;}

.flex-container {
    border-radius: 25px;
    border: 5px solid;
    display: flex;
    flex-direction: row;
    background-color: rgb(3, 3, 3);
    padding: 20px;
    flex: 1;
}

.flex-container > div {
    background-color: beige;
    flex: 1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
}

.section {
    border-radius: 25px;
    padding: 20px;
    border: 5px solid;
    margin: 10px;
    max-width: 48em;
}

.tele-img {
    max-width: 75%;
    max-height: 50%;
    padding-left: 35px;
}

hr {
    
  }